{{ partial "head.html" . }}
{{ partial "topbar.html" . }}

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ .Site.BaseUrl }}/img/post-bg.png')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="post-heading">
					<h1>{{ .Title }}</h1> 
					{{ if isset .Params "subtitle" }}
					<h2 class="subheading">{{ .Params.subtitle }}</h2> 
					{{ end }}
					<span class="meta">
						{{ .Date.Format "Jan 2, 2006" }} 
						{{ if isset .Params "categories" }}
						&nbsp; &nbsp; 
						<i class="fa fa-sitemap"></i>
						{{ $baseUrl := .Site.BaseUrl }}
						{{ range .Params.categories }} <a class="label" href="{{ $baseUrl }}/categories/{{ . | urlize }}">{{ . }}</a> {{ end }}
						{{ end }}
						{{ if isset .Params "tags" }}
						&nbsp; &nbsp; 
						<i class="fa fa-tags"></i>
						{{ $baseUrl := .Site.BaseUrl }}
						{{ range .Params.tags }} <a class="label" href="{{ $baseUrl }}/tags/{{ . | urlize }}">{{ . }}</a> {{ end }}
						{{ end }}
					</span>
				</div>
			</div>
		</div>
	</div>
</header>

<article>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				{{ .Content }}
			</div>
		</div>
		{{ if .Site.DisqusShortname }}
		<div id="disqus_thread"></div>
		{{ end }}
	</div>
</article>

{{ with .Site.DisqusShortname }}
<script type="text/javascript">
	var disqus_shortname = {{ . }};
	(function () {
	    var s = document.createElement('script'); s.async = true;
	    s.type = 'text/javascript';
	    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
	    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	}());
</script>
{{ end }}

{{ with .Site.DisqusShortname }}
<script type="text/javascript">
    var disqus_shortname = {{ . }};
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{{ end }}

{{ partial "footer.html" . }}
{{ partial "foot.html" . }}
