<div class="post-preview">
	<a href="{{ .Permalink }}">
		<h2 class="post-title">{{ .Title }}</h2>
	</a>
	{{ if isset .Params "subtitle" }}
	<h3 class="post-subtitle">

		{{ .Params.subtitle }}

	</h3> {{ end }}
	<span> 
		{{ if isset .Params "categories" }} 
		<i class="fa fa-sitemap"></i>
		{{ $baseUrl := .Site.BaseUrl }}
		{{ range .Params.categories }} <a class="label label-summary" href="{{ $baseUrl }}/categories/{{ . | urlize }}">{{ . }}</a> {{ end }}
		&nbsp; &nbsp;
		{{ end }}
		{{ if isset .Params "tags" }}
		<i class="fa fa-tags"></i>
		{{ $baseUrl := .Site.BaseUrl }}
		{{ range .Params.tags }} <a class="label label-summary" href="{{ $baseUrl }}/tags/{{ . | urlize }}">{{ . }}</a> {{ end }}
		{{ end }}
	</span>
	<p class="post-meta">{{ .Date.Format "Jan 2, 2006" }} &middot; Read in {{ .ReadingTime }} minute</p>

</div>
<hr>